body {
    background-color: #3ca7e2;
}
.container {
    max-width: 800px;
    
    
}

.dashboard-card {
    background-color: #ffffff;
    border: 1px solid #d6d8db;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    color: #000000; /* Dark text color */
    text-align:center;
}

.dashboard-btn {
    width: 100%;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #b07206; /* Primary color for products */
    color: #000000;
}

.btn-success {
    background-color: #b07206; /* Success color for services */
    color: #000000;
}

.btn-info {
    background-color: #b07206 !important; /* Info color for appointments */
    color: #000000;
}

.btn-warning {
    background-color: #3ca7e2; /* Warning color for users */
    color: #000000;
}

.logout-btn {
    background-color: #dc3545; /* Danger color for logout */
    color: #ffffff;
    
}

.stretched-btn {
    width: 100%;
}
.logout-btn:hover {
    background-color: #dc3545; /* Change color on hover (optional) */
}
.btn-primary:hover {
    background-color: #855b06; /* Change color on hover (optional) */
}
.btn-success:hover {
    background-color: #855b06; /* Change color on hover (optional) */
}
.btn-info:hover {
    background-color: #855b06; /* Change color on hover (optional) */
}
.btn-warning:hover {
    background-color: #064ced; /* Change color on hover (optional) */
}
