@page
@model TrimTrim.Pages.User.SingUpModel
@{
    ViewData["Title"] = "Sign Up";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>

    <div>
        <label asp-for="Input.PhoneNumber"></label>
        <input asp-for="Input.PhoneNumber" />
        <span asp-validation-for="Input.PhoneNumber"></span>
    </div>

    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password"></span>
    </div>

    <div>
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>

    <button type="submit">Sign Up</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}