@page
@model TrimTrim.Pages.ServiceMaster.DeleteModel

<h2>Delete Service</h2>

<h3>Are you sure you want to delete this service?</h3>

<div>
    <h4>Name</h4>
    <p>@Model.Service.Name</p>
</div>
<div>
    <h4>Price</h4>
    <p>@Model.Service.Price</p>
</div>

<form method="post">
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-page="./Index">Back to List</a>
</form>
