@page
@model TrimTrim.Pages.Admin.AdminDashboardModel
@{
}
<div class="container mt-5" >
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="dashboard-card";>
                <h1 class="mb-4">Admin Dashboard</h1>

                <hr />

                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-primary dashboard-btn" href="/ProductMaster">Manage Products</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-success dashboard-btn" href="/ServiceMaster">Manage Services</a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-success dashboard-btn" href="/AppointmentsMaster">Manage Appointments</a>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12 text-center">
                        <a class="btn btn-warning dashboard-btn stretched-btn" href="/UserMaster">Manage Users</a>
                    </div>
                </div>


                <form method="post">
                    <button type="submit" class="btn logout-btn mt-3 stretched-btn" asp-page-handler="Logout">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/Admin.css" />


